@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    /*--color-background: var(--background);*/
    /*--color-foreground: var(--foreground);*/
    --font-lato: var(--font-lato);
    --font-montserrat: var(--font-montserrat);
}

/*@layer base {*/
/*    :root {*/
/*        --shadow-color: rgba(55, 53, 47, 0.09);*/
/*        --border-color: rgba(55, 53, 47, 0.09);*/
/*        --hover-background: rgba(55, 53, 47, 0.06);*/
/*        --active-background: rgba(55, 53, 47, 0.16);*/
/*    }*/

/*    .dark {*/
/*        --shadow-color: rgba(255, 255, 255, 0.094);*/
/*        --border-color: rgba(255, 255, 255, 0.094);*/
/*        --hover-background: rgba(255, 255, 255, 0.055);*/
/*        --active-background: rgba(255, 255, 255, 0.03);*/
/*    }*/
/*}*/


body {
    font-family: var(--font-lato) Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}
