@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.97 0 0);
    --color-gray-200: oklch(0.922 0 0);
    --color-gray-300: oklch(0.87 0 0);
    --color-gray-400: oklch(0.708 0 0);
    --color-gray-500: oklch(0.556 0 0);
    --color-gray-600: oklch(0.439 0 0);
    --color-gray-700: oklch(0.371 0 0);
    --color-gray-800: oklch(0.269 0 0);
    --color-gray-900: oklch(0.205 0 0);
    --color-gray-950: oklch(0.145 0 0);
}

@theme inline {
    /*--color-background: var(--background);*/
    /*--color-foreground: var(--foreground);*/
    --font-outfit: var(--font-outfit);
    --font-montserrat: var(--font-montserrat);
}

/*@layer base {*/
/*    :root {*/
/*        --shadow-color: rgba(55, 53, 47, 0.09);*/
/*        --border-color: rgba(55, 53, 47, 0.09);*/
/*        --hover-background: rgba(55, 53, 47, 0.06);*/
/*        --active-background: rgba(55, 53, 47, 0.16);*/
/*    }*/

/*    .dark {*/
/*        --shadow-color: rgba(255, 255, 255, 0.094);*/
/*        --border-color: rgba(255, 255, 255, 0.094);*/
/*        --hover-background: rgba(255, 255, 255, 0.055);*/
/*        --active-background: rgba(255, 255, 255, 0.03);*/
/*    }*/
/*}*/

body {
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

@utility bst-bg-dark {
    @apply dark:bg-[#1C2128];
}

@utility bst-bg {
    @apply bg-gray-50 bst-bg-dark;
}

@utility bst-backdrop {
    @apply bg-gray-300/50 dark:bg-zinc-900/50 backdrop-blur-sm;
}

@utility bst-bg-aria-selected {
    @apply aria-selected:bg-zinc-200/50 dark:aria-selected:bg-zinc-600/10;
}

/**********
Box
***********/
@utility bst-box-hover {
    @apply bg-zinc-200/50 dark:bg-zinc-600/10;
}

@utility bst-box {
    @apply rounded-md bg-zinc-200/50 dark:bg-zinc-600/10;
}

/**********
Button
***********/
@utility bst-button {
    @apply transition rounded-md bst-bg-dark px-3 py-2 text-sm font-semibold shadow-xs;
}

@utility bst-button-bg-hover {
    @apply hover:bg-zinc-200/50 dark:hover:bg-white/5;
}

@utility bst-button-bg-hover-mobile {
    @apply bst-button-bg-hover sm:hover:bg-transparent sm:dark:hover:bg-transparent;
}

@utility bst-button-ring-inset {
    @apply inset-ring inset-ring-gray-300;
}

@utility bst-button-ring {
    @apply ring-1 ring-slate-200 hover:ring-slate-300 dark:ring-white/5 dark:ring-inset dark:hover:ring-white/10;
}

/**********
Stroke
***********/
@utility bst-stroke {
    @apply stroke-slate-500 dark:stroke-white/75;
}

@utility bst-stroke-hover {
    @apply hover:stroke-slate-600 dark:hover:stroke-slate-200;
}

@utility bst-stroke-active {
    @apply active:stroke-slate-600 dark:active:stroke-slate-200;
}

/**********
Ring
***********/
@utility bst-ring {
    @apply ring-1 ring-slate-200 dark:ring-white/5;
}

@utility bst-ring-dark {
    @apply dark:ring-1 dark:ring-white/5;
}


/*@utility bst-ring-hover {*/
/*    @apply dark:hover:ring-white/20;*/
/*}*/

/**********
Border
***********/
@utility bst-border-color {
    @apply border-slate-200 dark:border-white/5;
}

/**********
Text
***********/
@utility bst-text-primary {
    @apply text-yellow-500;
}

@utility bst-text {
    @apply text-zinc-900 dark:text-white;
}

@utility bst-text-darker {
    @apply text-zinc-900 dark:text-white;
}

@utility bst-text-lighter {
    @apply text-zinc-500 dark:text-zinc-400;
}

@utility bst-text-subtle {
    @apply text-zinc-400 dark:text-zinc-500;
}

@utility bst-text-placeholder {
    @apply placeholder:text-zinc-400 dark:placeholder:text-zinc-500;
}

@utility bst-text-group-aria-selected {
    @apply group-aria-selected:text-yellow-500;
}


/**********
Icon
***********/
@utility bst-icon {
    @apply h-full w-5 fill-gray-50 dark:fill-[#1C2128] bst-stroke transition;
}