@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-gray-50: oklch(0.985 0 0);
    --color-gray-100: oklch(0.97 0 0);
    --color-gray-200: oklch(0.922 0 0);
    --color-gray-300: oklch(0.87 0 0);
    --color-gray-400: oklch(0.708 0 0);
    --color-gray-500: oklch(0.556 0 0);
    --color-gray-600: oklch(0.439 0 0);
    --color-gray-700: oklch(0.371 0 0);
    --color-gray-800: oklch(0.269 0 0);
    --color-gray-900: oklch(0.205 0 0);
    --color-gray-950: oklch(0.145 0 0);
}

@theme inline {
    /*--color-background: var(--background);*/
    /*--color-foreground: var(--foreground);*/
    --font-outfit: var(--font-outfit);
    --font-montserrat: var(--font-montserrat);
}

/*@layer base {*/
/*    :root {*/
/*        --shadow-color: rgba(55, 53, 47, 0.09);*/
/*        --border-color: rgba(55, 53, 47, 0.09);*/
/*        --hover-background: rgba(55, 53, 47, 0.06);*/
/*        --active-background: rgba(55, 53, 47, 0.16);*/
/*    }*/

/*    .dark {*/
/*        --shadow-color: rgba(255, 255, 255, 0.094);*/
/*        --border-color: rgba(255, 255, 255, 0.094);*/
/*        --hover-background: rgba(255, 255, 255, 0.055);*/
/*        --active-background: rgba(255, 255, 255, 0.03);*/
/*    }*/
/*}*/

body {
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

@utility bst-box-hover {
    @apply bg-zinc-200/50 dark:bg-zinc-600/10;
}

@utility bst-button {
    @apply transition rounded-md bg-white dark:bg-[#1C2128] px-3 py-2 text-sm font-semibold shadow-xs;
}

@utility bst-button-hover {
    @apply hover:bg-zinc-200/20 dark:hover:bg-zinc-600/10;
}

@utility bst-button-ring-inset {
    @apply inset-ring inset-ring-gray-300
}


@utility bst-stroke {
    @apply stroke-zinc-900 dark:stroke-white;
}

@utility bst-stroke-hover {
    @apply hover:bg-zinc-200/50 dark:hover:bg-zinc-600/10 hover:stroke-zinc-600 dark:hover:stroke-zinc-200;
}

@utility bst-stroke-active {
    @apply active:stroke-zinc-600 dark:active:stroke-zinc-200;
}

@utility bst-backdrop {
    @apply bg-gray-300/60 dark:bg-zinc-900 backdrop-blur-sm;
}


